<p>Privacy Policy

    Updated and effective March 1, 2024
    
    Thank you for visiting TheAccidentMoney ("Company") located at www.theaccidentmoney.com (the "Site"). This Privacy Policy outlines the privacy practices associated with the Site, and you agree to it by using the Site.
    
    Collection of Personal Information
    We collect personal information such as your IP address, email, phone number, and other data submitted via the Site. We also use cookies, beacons, and similar technologies to track user interaction and gather demographic information.
    
    Usage of Personal Information
    Your information is used to personalize and improve the Site, contact you, fulfill requests, and for marketing purposes. We may share your personal information with third-party service providers to offer you services.
    
    Sharing of Information
    By submitting your information, you agree that we may share it with third-party providers. These providers may contact you regarding services requested.
    
    Cookies and Tracking Technologies
    We deploy cookies and similar tracking technologies to enhance your experience and track Site usage. You may disable cookies in your browser settings, but doing so may impact your ability to fully access the Site.
    
    TCPA Consent
    By submitting your information on the Site, you consent to be contacted by us or third-party providers via automated calls, texts, or emails for marketing purposes. Message and data rates may apply.
    
    Your Rights and Choices
    You may request to update or delete your personal information by contacting us at info@theaccidentmoney.com. Opt-out requests will be processed in a timely manner.
    
    Changes to This Policy
    We may update this Privacy Policy from time to time. Changes will be posted here, and the effective date will be updated accordingly.
    
    Contact Us
    If you have any questions about this Privacy Policy, contact us at info@theaccidentmoney.com</p>